/* General table styling */
.bookingCustomer-list-container {
  padding: 20px;
}

nz-table {
  width: 100%;
  margin-top: 20px;
}
  
  /* Pagination and Spin button container styling */
  nz-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  